PORT=8010
BcryptHashRound=11
JWT_SECRET=669e081f0821d394b54b7dbad23462a6e429df0fe45e54f905e9d1c7de1dab373a57cd4e4c871245b58ceb2a788451c9b95a3ffbbb803fb0818e566041fe10482b281
REFRESH_SECRET_TOKEN=06788ed74c52baf6ecff287246caa01619f03ca1b1451b872ad1f182728d3694f227c22b35dc775ac634cd88e1c17fa80fface0cf30127b34dc8cfed063a240db46c
RESET_PASSWORD_URL=users/update-password
LOGIN_URL=login
DATABASE_HOST=localhost
DATABASE_SCHEMA='public'
MINIO_HOST=127.0.0.1
MINIO_PORT= 9003
MINIO_USE_SSL= false
MINIO_ACCESS_KEY= admin
MINIO_SECRET_KEY= password
MINIO_BUCKET_NAME ='a2sv-ecommerce'
POSTGRES_IMAGE=postgres:17
POSTGRES_CONTAINER_NAME=a2sv-postgres-db
POSTGRES_PORT=5434
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=a2sv_ecommerce
# Minio Configuration
MINIO_IMAGE=minio/minio:latest
MINIO_CONTAINER_NAME=a2sv-minio
MINIO_PORT=9000
MINIO_ACCESS_PORT=9010
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
# Redis Configuration
REDIS_IMAGE=redis:latest
REDIS_CONTAINER_NAME=a2sv-redis
REDIS_PORT=6380